# build files
old-src/build
src/build

# vscode files
.vscode

# data files for testing
data
data/* 
# emacs backups
*~

# analyzer build files
analyzer/build 

# build directory
build


# misc directory
misc
